@font-face {
    font-family: 'D2Coding';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#bookContainer {
    display: inline-block;
    width: 70%;
    height: 100%;
    overflow-y: scroll;
    min-width: 500px;
    padding: 0 5%;
    box-sizing: border-box;
}

#menuContainer {
    display: inline-block;
    width: 30%;
    height: 100%;
    overflow-y: scroll;
    min-width: 150px;
    border-left: 1px black;
}

#menunav {
    width: 100%;
    height: 130px;
    overflow-y: scroll;
    font-size: 0.8rem;
}

#menubar {
    width: 100%;
    height: calc(100vh - 150px);
    overflow-y: scroll;
}

.menubox {
    border-top: 2px solid black;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

section[data-type="chapter"] {
    border-bottom: 5px solid black;
    margin-top: 3rem;
}

div[data-type="tip"], div[data-type="note"], div[data-type="warning"]{
    padding: 20px;
    padding-left: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

:not(blockquote)>p:not([class^="figcap"]):not([class^="tabcap"]) em, :not(blockquote)>p:not([class^="figcap"]):not([class^="tabcap"]) strong, table em, table strong {
    background-color: lightseagreen;
}

table {
    margin-bottom: 2em;
    border: 1px solid gray;
    border-spacing: 0;
    border-collapse: collapse;
}

pre {
    page-break-inside: avoid;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: lightyellow;
    border-left: 8px solid lightgray;
    padding-left: 4px;
    color: #000;
    font-family: 'D2Coding', monospace;
    font-size: 0.9rem;
    font-weight: normal;
}

code {
    color: #000;
    font-family: 'D2Coding', monospace;
    font-size: 0.9rem;
    font-weight: normal;
}

.menubox ul {
    list-style:none;
    padding-left: 15px;
}

.menubox li>a {
   text-decoration: none;
   font-size: 0.8rem;
}

img {
    margin-bottom: 8px;
    width: auto!important;
    height: auto!important;
    max-width: 100%;
    border: 0;
    margin: 0 auto;
}

.sidebar{
    border: 1px solid black;
    padding: 1rem;
}
.sidebar h5{
    text-align: center;
}